.landscapeDisplay {
    display: flex;
    background-color: #1c1c1c;
    color: white;
    height: 100vh;
}
.landscapeDisplay :only-child {
    width: 100%;
    text-align: center;
    align-self: center;
}
.Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}
.ContentBox {
    flex-grow: 1;
}
.HomeButton {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    color: #1c1c1c;
    padding-top: 25px;
}
.Footer {
    background-color: #1c1c1c;
    color: white;
    margin-top: auto;
    padding-bottom: 25px;
}
.Footer > p {
    font-size: 16px;
}
form {
    display: flex;
    flex-direction: column;
}
.FormWrap {
    display: flex;
    height: 100%;
}
.FormWrap > div {
    width: 100%;
    align-self: center;
}
input, textarea, select {
    background-color: #ebe4f9;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    font-size: 18px;
}
.LogoBox {
    padding: 0 30px;
}
.TitleBox {
    line-height: 1px;
}
.TitleBox > p {
    color: grey;
}
.TitleBox > h3 {
    color: #1c1c1c;
}
.But {
    margin-bottom: 15px;
    border: 2px solid #1c1c1c;
    outline: none;
}
.PageButton {
    border: 2px solid #1c1c1c;
    outline: none;
    padding: 10px 22px;
    margin-right: 15px;
}
.NotesBoxWrap {
    height: 100%;
    display: flex;
}
.EmptyBox {
    width: 100%;
    align-self: center;
    text-align: center;
}
.NotesBox {
    width: 100%;
    padding: 0 15px;
    height: 500px;
    align-self: center;
    overflow-y: auto;
    border-left: 10px solid #f6bdc8;
}
.NoteDetail {
    overflow-wrap: break-word;
}
.ItemWrap {
    background-color: #ebe4f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

@media screen and (min-width: 320px) {
    .HomeButton {
        font-size: 20px;
    }
    .TitleBox > p {
        font-size: 25px;
    }
    .TitleBox > h3 {
        font-size: 35px;
    }
    .But {
        padding: 10px 50px;
        font-size: 16px;
    }
}
@media screen and (min-width: 360px) {
    .HomeButton {
        font-size: 25px;
    }
    .TitleBox > p {
        font-size: 50px;
    }
    .TitleBox > h3 {
        font-size: 70px;
    }
    .But {
        padding: 10px 20px;
        font-size: 20px;
    }
}
@media screen and (min-width: 390px) {
    .HomeButton {
        font-size: 30px;
    }
    .TitleBox > p {
        font-size: 55px;
    }
    .TitleBox > h3 {
        font-size: 75px;
    }
    .But {
        padding: 10px 50px;
        font-size: 25px;
    }
}
@media screen and (min-width: 414px) {
    .HomeButton {
        font-size: 30px;
    }
    .TitleBox > p {
        font-size: 55px;
    }
    .TitleBox > h3 {
        font-size: 75px;
    }
    .But {
        padding: 10px 20px;
        font-size: 20px;
    }
}
@media screen and (min-width: 430px) {
    .HomeButton {
        font-size: 40px;
    }
    .TitleBox > p {
        font-size: 65px;
    }
    .TitleBox > h3 {
        font-size: 85px;
    }
    .But {
        padding: 10px 50px;
        font-size: 30px;
    }
}
@media screen and (min-width: 600px) {
    .LogoBox {
        padding: 0 100px;
    }
    
}
@media screen and (min-width: 800px) {
    .HomeButton {
        font-size: 60px;
    }
    .TitleBox > p {
        font-size: 85px;
    }
    .TitleBox > h3 {
        font-size: 105px;
    }
    .But {
        padding: 20px 60px;
        font-size: 40px;
    }
    .LogoBox {
        padding: 0 100px;
    }
}